/*reset dos parametros padrões do CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: #131313;
    font-size: 1em;
    height: 100vh;
    color: ghostwhite;
    font-family: 'Share Tech Mono', monospace;
}

@media (min-width: 400px) {
    body {
        font-size: 1.2em;
    }
}

@media (min-width: 635px) {
    .header-div {
        font-size: 1.4em;
    }
    body {
        font-size: 1.4em;
    }
}

@media (min-width: 1000px) {
    header {
        font-size: 0.8em;
    }
    body {
        font-size: 1.8em;
    }
}

h2 {
    color: rgb(212, 17, 212);
}


/* Animação pisca pisca */

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

header {
    height: 70vh;
    display: flex;
    align-items: center;
    color: ghostwhite;
}

.header-div {
    padding: 20px;
}

.menu {
    background-color: rgb(15, 15, 15);
    position: fixed;
    width: 100vw;
    /*modificador top funciona apenas quando há uma position declarada*/
    top: 0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
}

.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    padding: 10px 20px;
}

a {
    color: ghostwhite;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title {
    font-family: 'Press Start 2P', cursive;
    font-weight: normal;
    text-align: center;
    text-size: 0.3em;
}

.site-subtitle {
    text-align: right;
}

.site-subtitle,
.siteTitle {
    color: ghostwhite;
}

.dot {
    animation: blink-animation 1s steps(5, start) infinite;
}

.subtitle {
    color: rgb(255, 255, 104);
}

.entiti {
    color: ghostwhite
}

.classe {
    color: rgb(78, 243, 78);
}

.equals {
    color: rgb(212, 17, 212)
}

.site-subtitle {
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
}

.grid,
.about {
    padding: 1em;
}